<div class="container">
    <mat-card-content>

        <h1>About</h1>
        <mat-divider></mat-divider>
        <p></p>
        <p> C'est un système décisionnel de provision du crédit bancaire qui permet de fournir aux décideurs
            des institutions financières les moyens capables de faciliter la prise de décisions
            stratégiques et opérationnelles les plus adéquates afin d'éviter les pertes de crédit inattendues.
            Notre système offre aux décideurs un gain de temps concernant la recherche de l’information,
            elle garantit un accès fiable aux informations pertinentes rendant possible l’analyse des données
            sous différents angles et faisant des comparaisons entre les informations de l’historique,
            les informations en temps réel ,et les informations donnant une idée sur la situation future du portefeuille
            bancaire.
        </p>
        <mat-divider></mat-divider>
        <a href="https://www.axefinance.com/" target="_blank">More infomation</a>
    </mat-card-content>

</div>